*{
    margin: 0;
    padding: 0;
}

$color-white:white;
$color-pink:pink;
$color-purple:purple;

ul {
   list-style: none;
   background-color: $color-purple;
}

ul.parent{
    display: flex;
    justify-content: center;
    padding: 5px;
    li{
        position: relative;
        a{
            padding: 10px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 20px;
            color:$color-white;
            &:hover{
                color: $color-pink;
            }
        }
        ul{
                position: absolute;
                display: none;
                width: 200px;
                top: 30px;
        }
        &:hover{
            ul{
                display: block;
            }
        }
    }
}