*{
    margin: 0;
    padding: 0;
}

ul.parent{
    display: flex;
    justify-content: end;
    background-color: black;
    padding: 5px;
    list-style: none;
    li{
        position: relative;
        a{
            padding: 10px;
            text-transform: uppercase;
            font-size: x-large;
            text-decoration: none;
            color: aliceblue;
            &:hover{
               color: silver;
            }     
        }
        ul{
            position: absolute;
            list-style: none;
            display: none;
            top: 30px;
            width: 100px;
            &:hover{
                display: block;
            }    
        }
    }
}

.header{
    display: flex;
    background-image: url(../img/header1.webp);
    width: 100%;
    height: 250px;
}

.container{
    background-color: bisque;
    .products{
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        gap: 10px;
        li{
            list-style: none;
            position: relative;
            background-color:white;
            width: 200px;
            height: 200px;
            button{
                position: absolute;
                width: 100%;
                height: 30px;
                bottom: 0;
                border: none;
                &:hover{
                    background-color:cornsilk;
                }
            }
            img{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 50px;
                bottom: 50px;
            }
            p{
                text-align: center;
                font-size: large;
            }
            h1{
                font-size: 24px;
                text-align: center;
            }
            &:hover{
                background-color: silver;
            }
        }
    }
}